@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab:700');

body * {
	transition: ease .4s;
}

body {
	background:whitesmoke;
	font-family:"Open Sans", Helvetica;
}

h1,h2,h3,h4 {
	font-family: "Roboto Slab";
}

.dataTables_wrapper {
    margin: 2em;
    border: solid thin #e9e9e9;
    padding: 2em;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09);
    background:white;
}

input[type="search"] {
    border: solid thin silver;
    border-radius: 4px;
}

/* overrride datatables */
a.paginate_button.current {
    border-radius: 50px!important;
    padding: 0px 6px!important;
    background: #cee9ff!important;
    border: none!important;
    color: white!important;
}

.modal-footer, .modal-header {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 3px black;
    border: none;
}

.desc {
    background: rgba(255, 255, 255, 0.9);
    padding: 1em;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-left: solid 3px #e95252;
    box-shadow: 0 0 3px black;
}

.poster {
    box-shadow: 0 0 3px black;
    border: solid thin rgba(255, 255, 255, 0.37);
    border-radius: 5px;
}

.modal-body {
    background: rgba(255, 255, 255, 0.45);
}

.modal-content {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 400px;
    border: solid thin rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

button.btn.btn-default {
    background: #3d4144;
    border: none;
    color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.29);
}

footer img {
    width: 150px;
    margin: 2em;
}


footer {
    text-align: center;
    background: #2d2e30;
}

p.info sub {
    bottom: 0;
    margin: 3px;
}


p.info {
    background: rgba(0, 0, 0, 0.3);
    padding: 3px;
    color: white;
    border-radius: 4px;
}

.info sub.pull-right {
    margin-top: 10px;
}